.App {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    80deg,
    rgba(2, 0, 36, 1) 5%,
    rgba(4, 3, 60, 1) 55%,
    rgba(9, 9, 121, 1) 100%
  );
  max-height: 100vh;
  overflow: hidden;
}
h1 {
  color: #ffffff;
}
